# ==========================================
# ENVIRONMENT VARIABLES TEMPLATE
# Copy this file to .env and fill in your actual values.
# DO NOT commit the actual .env file to version control.
# ==========================================

# postgresSQL
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=platform_db

# grafana client
GF_SECURITY_ADMIN_USER=your_grafana_user
GF_SECURITY_ADMIN_PASSWORD=your_grafana_password
GF_SECURITY_SECRET_KEY=your_grafana_secret_key_here
GF_SNAPSHOTS_EXTERNAL_ENABLED=false
GF_PLUGINS_ALLOW_LOADING_UNSIGNED_PLUGINS=trino-datasource

# request
MY_SOURCE=fireant
AUTH_TOKEN="Bearer YOUR_JWT_TOKEN_HERE"
USER_AGENT="Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36"

# loki & create_bucket
MINIO_USER=your_minio_user
MINIO_PASSWORD=your_minio_password

# minio
MINIO_ROOT_USER=your_minio_root_user
MINIO_ROOT_PASSWORD=your_minio_root_password

# airflow
AIRFLOW_DB_CONN=postgresql+psycopg2://your_postgres_user:your_postgres_password@postgres/platform_db?options=-csearch_path%3Dairflow
AIRFLOW_ADMIN_USER=your_airflow_user
AIRFLOW_ADMIN_PASSWORD=your_airflow_password
AIRFLOW_UID=50000
FERNET_KEY=YOUR_GENERATED_FERNET_KEY_HERE

# dev-container
DBT_PROFILES_DIR=/app/transform
DBT_PROJECT_DIR=/app/transform
