__pycache__/
.vscode/
.env
.ipynb_checkpoints
.venv_dbt/
.venv_ingest/
logs/
*.log
.DS_Store
loki-data/
!.devcontainer.json
*.csv
*.parquet
*.json
*.avro
test.ipynb
*.license
transform/dbt_packages/
transform/target/