__pycache__/
.vscode/
.env
.ipynb_checkpoints
.venv_dbt/
.venv_ingest/
.venv_api/
logs/
*.log
.DS_Store
loki-data/
!.devcontainer.json
*.parquet
*.json
*.avro
*.license
transform/dbt_packages/
transform/target/
!transform/dashboard/*.json