confluent-kafka==2.13.0
pandas==2.3.3
numpy==2.3.5
python-dateutil==2.9.0.post0
pytz==2025.2

vnstock==3.3.0
vnstock_ezchart==0.0.3 
vnai==2.2.3


minio 
SQLAlchemy==2.0.45
psycopg2-binary==2.9.11
openpyxl==3.1.5
et_xmlfile==2.0.0


requests==2.32.5
python-dotenv==1.2.1
tenacity==9.1.2
pydantic==2.12.5


python-json-logger
jupyterlab