confluent-kafka
python-dateutil
pytz

vnstock


SQLAlchemy
psycopg2-binary



requests
python-dotenv
tenacity



python-json-logger
python-logging-loki
boto3

polars
pyarrow
pyiceberg[s3fs,pyarrow,polars]
ipykernel

fastavro
cython