confluent-kafka
python-dateutil
pytz

vnstock

psycopg[binary]
connectorx



requests
python-dotenv
pyyaml
pydantic
tenacity



python-json-logger
python-logging-loki
boto3

polars
pyarrow
pyiceberg[s3fs,pyarrow,polars]
ipykernel

fastavro
cython
trino
trino[sqlalchemy]